body{
    background-color: #D6DBDF;
}

.container{
    width: 50%;
    background-color: #fff;
    margin: 2.5rem auto;
    padding: 1rem 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid #3A5169;
    box-shadow: 0px 0rem 16px 9px grey;
}

header{
    border-bottom: 1px solid #2E4053;
    padding-bottom: 2.5rem;
}

header h1{
    margin-top: 0;
    color: #2E4053;
}

.txt-input{
    width: 80%;
    height: 2.5rem;
    border:1px solid grey;
    border-radius: 6px;
    outline-color: #2E4053;
}

.btn-input{
    width: 13%;
    height: 2.9rem;
    border-radius: 6px;
    background-color: #5D6D7E;
    color: #D6DBE1;
    font-weight: bold;
}

.btn-input:hover{
    border: 2px solid #B4C4D5;
}

main h3{
   margin-top: 0;
   color: #3A5169;
}

main h2{
    margin-bottom: 0.8rem;
    color: #2E4053;
}

header small{
    color: darkgray;
}

main input{
    margin: 0 auto;
    width: 98%;
    height: 2.5rem;
    outline-color:#2E4053;
    border-radius: 5px;
    border: 1px solid grey;
}

button{
    margin-top: 1rem;
    width: 18%;
    height: 3.5rem;
    background-color: #3A5169;
    color: #D1DBE6;
    border-radius: 0.5rem;
    font-weight: bold;
}

button:hover{
    border: 2px solid #B4C4D5;
}

footer{
    margin-right: 0;
    justify-content: flex-end;
    display: flex;
    margin-right: 1rem;
}

p{
    text-align: center;
    color: #2E4053;
}
p a{
    color: #283747;
    font-weight: bold;
}

#newTasks{
    margin-top: 1.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #283747;
    border-left: 3px solid #2E4053;
}

.taskDiv{
    margin-left: 1rem;
}

.header{
    text-align: center;
    border: 0;
}

.taskDiv{
    margin-bottom: 1.5rem;
}